{% extends "layout.html.twig" %}
{% set adminMenu = true %}

{% block title %}Administration{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#links" data-toggle="tab">Links</a></li>
            <li><a href="#users" data-toggle="tab">Users</a></li>
        </ul>
    </div>
</div>
    <div class="tab-content">
        <div class="tab-pane fade in active adminTable" id="links">
            <a href="{{ path('admin_link_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add link</button></a>
            {% if links %}

                <!--Pagination Links-->
                <div id="links-container" data-url="{{ path('get_content', {'contentType': 'links'}) }}">
                    {% include 'admin_links.html.twig' with {'links': links} %}
                </div>

                <div class="pagination" id="pagination-links">
                    {% for page in 1..totalPagesLinks %}
                        <a href="#" data-page="{{ page }}" class="{{ page == currentPageLinks ? 'active' }}">
                            {{ page }}
                        </a>
                    {% endfor %}
                </div>

            {% else %}
                <div class="alert alert-warning">No links found.</div>
            {% endif %}
        </div>

        <div class="tab-pane fade adminTable" id="users">
            <a href="{{ path('admin_user_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add user</button></a>
            {% if users %}

                <!--Pagination Users-->
                <div id="users-container" data-url="{{ path('get_content', {'contentType': 'users'}) }}">
                    {% include 'admin_users.html.twig' with {'users': users} %}
                </div>

                <div class="pagination" id="pagination-users">
                    {% for page in 1..totalPagesUsers %}
                        <a href="#" data-page="{{ page }}" class="{{ page == currentPageUsers ? 'active' }}">
                            {{ page }}
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-warning">No users found.</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
