{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="row card-group">
		{% for link in links %}
			<div class="card col-md-4">
				<div class="container view overlay zoom card-body">
					<a class="linkTitle" href="{{ path('link', { 'id': link.id }) }}"><img class="zoom" src="../web/images/{{ link.title }}.jpeg" alt="Card image cap"/></a>
				</div>

			</div>
		{% endfor %}
	</div>
	<!-- Pagination links -->
	<br/><br/><br/><br/>
	<div class="text-center">
		<span>Pages :</span>
		{% for page in 1..totalPagesLinks %}
			{% if page == currentPageLinks %}
				<span>{{ page }}</span>
			{% else %}
				<a href="{{ path('home', {'pageLinks': page}) }}">{{ page }}</a>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
