{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
	<div>
	<h2> Accéder à mon fichier RSS </h2>
	<a class="btn btn-primary" href="{{ path('rss') }}">&nbsp;Accéder au fichier RSS&nbsp;</a>
	<div class="row card-group">
		{% for link in links %}
			<div class="card_links col-md-4">
				<div class="container_images view overlay zoom card-body">
					<a class="linkTitle" href="{{ path('link', { 'id': link.id }) }}"><img class="zoom" src="../web/images/{{ link.title }}.jpeg" alt="Card image cap"/>
						<div class="text_overlay">
							<div class="text">{{ link.title }}</div>
						</div>
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
	</div>
	<!-- Pagination links -->
	<br/><br/><br/><br/>
	<div class="text-center">
        {% if currentPageLinks - 1 >= 1 %}
          <a class="btn btn-primary st-color-yellow" href="{{ path('home', { 'pageLinks': currentPageLinks - 1 }) }}" title="previous">Précédent</a>
        {% endif %}

		{% for page in 1..totalPagesLinks %}
			{% if page == currentPageLinks %}
				<span>&nbsp;{{ page }}&nbsp;</span>
			{% else %}
				<a href="{{ path('home', {'pageLinks': page}) }}">&nbsp;{{ page }}&nbsp;</a>
			{% endif %}
		{% endfor %}

        {% if currentPageLinks + 1 <= totalPagesLinks %}
            <a class="btn btn-primary st-color-yellow" href="{{ path('home', { 'pageLinks': currentPageLinks + 1 }) }}" title="next">Suivant</a>
        {% endif %}
	</div>
{% endblock %}

